<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>La calculatrice</h1>
  <table id = "contenu">
    <tbody>
    <tr><td id = "affichage" colspan="4">{{affichage}}</td></tr>
    <tr class = "ligne">
      <td><button class = "fond_gris" (click) = "clickOnPad('7')">7</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('8')">8</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('9')">9</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('+')">+</button></td>
    </tr>
    <tr class = "ligne">
      <td><button class = "fond_gris" (click) = "clickOnPad('4')">4</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('5')">5</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('6')">6</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('-')">-</button></td>
    </tr>
    <tr class = "ligne">
      <td><button class = "fond_gris" (click) = "clickOnPad('1')">1</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('2')">2</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('3')">3</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('*')">*</button></td>
    </tr>
    <tr class = "ligne">
      <td><button class = "fond_gris" (click) = "clickOnPad('0')">0</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('=')">=</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('C')">C</button></td>
      <td><button class = "fond_gris" (click) = "clickOnPad('/')">/</button></td>
    </tr>
    </tbody>
  </table>
</div>


